.info-card{
    padding: 0px 5px;
} 
.info-primary{
   background-color: #f72585;
}
.info-dark{
   background-color: #6495ed;
}
.info-container{
   height: 100px;
   padding: 30px;
}
.info-icon{
  font-size: 3em; 
}