.footer-area{
  background-color: black;
}

.footer-area li{
    padding-bottom: 10px;
}

.social-media .icon{
    height: 40px;
    width: 40px;
    color: #f72585;
    border-radius: 50%;
    border: 1px solid #f72585;
    padding: 10px;
}
.social-media .active-icon{
    background-color:#f72585;
    color:white;
}