* {
 margin: 0;
 padding: 0;
}
.btn-brand{
  
  background-color: #f72585;
  border-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
}
.text-brand{
  color: #f72585; 
  font-family: 'Courgette', cursive;
}

